.DS_Store
Thumbs.db

*~
*.swp
*.#*
*.ilk
*.ncb
*.opt
*.opensdf
*.sdf
*.user
*.suo
*.log
*.exp
*.pdb
*.o
*.tlog
*.obj
*.bak

*.lnk

*.sublime-workspace

Debug
Release
ipch
obj
bin
gen
* gitignore

documentation
doc/html

DemoAndroid/libs
DemoAndroid/assets/demo_skin
DemoAndroid/assets/font
DemoAndroid/assets/language
DemoAndroid/assets/skin
Demo.exe
