.DS_Store
Thumbs.db

*~
*.swp
*.#*
*.ilk
*.ncb
*.opt
*.opensdf
*.sdf
*.user
*.suo
*.log
*.exp
*.pdb
*.o
*.tlog
*.obj
*.bak

*.lnk



# Can also ignore all directories and files in a directory.
# tmp/**/* 
Debug
Release
ipch
obj
bin
gen
* gitignore

documentation
